DEBUG=True
APP_ENV=canary
COMPOSE_PROJECT_NAME=sitecraft-canary
APP_PORT=8000

SECRET_KEY=your-secret-key

ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password
DB_HOST=localhost
DB_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
LOCK_TTL=120